 <div class="container-fluid mt-5" id="aboutid">
       <div class="row">
            
           <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading">About Me</h1>
               <p class="text-center sub-heading">grow your bussiness with me</p>
             
                <div class="row">
                   <div class="col-md-6 col-12 header-text ">
                          <figure>
                               <img class="img-responsive" src="https://image.freepik.com/free-vector/astronaut-girl-spaceship_18591-58561.jpg" alt="Chania" width="460" height="345"> 
                          </figure>
                   </div>
                   
                   <!--right side-->
                   <div class="col-md-6 col-12 header-text  d-flex justify-content-center align-items-start flex-column">
                            <h2>Hi, I'm Shivani</h2>
                           
                            <p>
                                I'm a Computer Engineering Student specialised in React, Angular, HTML, CSS, JavaScript, jQuery, Typescript, Python, Java. I have that passion to learn and I'm passionate about work.
                            </p>
                            <p>I build interactive websites that run across platforms & devices</p>

                            <a href="#contactid">Let's make something special.</a>            
                   </div>
               </div>
           </div>
       </div>
    </div>  