
<div class="container-fluid mt-5" id="portfoiloid">
       <div class="row">

           <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading">Projects</h1>
               <p class="text-center sub-heading">grow your bussiness with me</p>
               <div class="row">
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-portfoilo settings">
                               <div class="icon">
                               <img class="img-responsive" src="https://www.drupal.org/files/project-images/reg_confirm_email_with_button_0.png" alt="Chania" width="200" height="200"> 
                               </div>    
                                   <h4>Registration Form</h4>
                                   <p>Complete Registration Form using HTML, CSS, Node JS, Express, and MongoDB</p>
                           </div>
                       </div>
                   </div>
                    <div class="col-md-4">
                       <div class="box">
                           <div class="our-portfoilo settings">
                               <div class="icon">
                               <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5UJHhJVjoGK2EXGqR9drnVsgIDbFprp5Dlg&usqp=CAU" alt="Chania" width="200" height="200"> 
                               </div>    
                                   <h4>React-Todo-List</h4>
                                   <p>React Todo List using React</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="box">
                           <div class="our-portfoilo settings">
                               <div class="icon">
                               <img class="img-responsive" src="https://lh3.googleusercontent.com/bXsJnF2AQA-xAG7GdoS6X5icWJvEZkRwRqc_RkUJG4c-CHbFF--y1xKbY1nEDuuvRkqP=w300-rw" alt="Chania" width="200" height="200"> 
                               </div>    
                                   <h4>EMI Loan Caluculator</h4>
                                   <p>EMI Loan Calculator using HTML, CSS , and JS.</p>
                           </div>
                       </div>
                   </div>
                   
                </div>
               </div>
             
              
           </div>
       </div>
</div>